* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: thistle;
  font-family: fantasy;
}

.hide {
  display: none;
}


.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 1. Creo un container dove inserisco i miei quadrati e lo stilo */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}


/* 3. Creo lo stile/la classe del quadrato in css, inizialmente per una griglia 10 * 10 */


.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(600px / 10);
  /* height: calc(600px / 10); */
  aspect-ratio: 1 / 1;
  background-color: aquamarine;
  border: 1px solid black;
  cursor: pointer;
}



/* 4. Stilo la classe 'clicked' */
.square.clicked {
  background-color: white;
}